<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreationMarque</servlet-name>
        <servlet-class>Pack2.CreationMarque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationProduit</servlet-name>
        <servlet-class>Pack2.CreationProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreationStock</servlet-name>
        <servlet-class>Pack2.CreationStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoirProduitsStock</servlet-name>
        <servlet-class>Pack2.VoirProduitsStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntreeStock</servlet-name>
        <servlet-class>Pack2.EntreeStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortieStock</servlet-name>
        <servlet-class>Pack2.SortieStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerProduit</servlet-name>
        <servlet-class>Pack2.SupprimerProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuppressionMarque</servlet-name>
        <servlet-class>Pack2.SuppressionMarque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeMarques</servlet-name>
        <servlet-class>Pack2.ListeMarques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeProduits</servlet-name>
        <servlet-class>Pack2.ListeProduits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeProduitsMarque</servlet-name>
        <servlet-class>Pack2.ListeProduitsMarque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierMarque</servlet-name>
        <servlet-class>Pack2.ModifierMarque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierProduit</servlet-name>
        <servlet-class>Pack2.ModifierProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetirerStock</servlet-name>
        <servlet-class>Pack2.RetirerStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelDeGestion</servlet-name>
        <servlet-class>Pack2.PanelDeGestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerStock</servlet-name>
        <servlet-class>Pack2.SupprimerStock</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreationMarque</servlet-name>
        <url-pattern>/CreationMarque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationProduit</servlet-name>
        <url-pattern>/CreationProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreationStock</servlet-name>
        <url-pattern>/CreationStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoirProduitsStock</servlet-name>
        <url-pattern>/VoirProduitsStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntreeStock</servlet-name>
        <url-pattern>/EntreeStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortieStock</servlet-name>
        <url-pattern>/SortieStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerProduit</servlet-name>
        <url-pattern>/SupprimerProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuppressionMarque</servlet-name>
        <url-pattern>/SuppressionMarque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeMarques</servlet-name>
        <url-pattern>/ListeMarques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeProduits</servlet-name>
        <url-pattern>/ListeProduits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeProduitsMarque</servlet-name>
        <url-pattern>/ListeProduitsMarque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierMarque</servlet-name>
        <url-pattern>/ModifierMarque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierProduit</servlet-name>
        <url-pattern>/ModifierProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetirerStock</servlet-name>
        <url-pattern>/RetirerStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelDeGestion</servlet-name>
        <url-pattern>/PanelDeGestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerStock</servlet-name>
        <url-pattern>/SupprimerStock</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
